p{
    font-size: 20pt;
    text-align: center;
    color: red;
}
body{
    background-color: white;
}
#su{
    border: 1px solid black;
    background-color: teal;
    position: absolute;
    padding: 20px;
    margin-left: 450px;
    top: 120px;  
  
}
button{
    width: 100px;
    height: 20px;

}
body{
    background-color:darkgrey;
}