<form action = "/form" method = "POST">
    <div class = "border">
        <h1> Gerdau atendimentos</h1>
        <div class = "b01">
            
            <label for = "bloco01">numero do chamado<br>
                <input type="text" name = "numero" id = "bloco01">
            </label>
    
        
            <label for = "bloco01">data<br>
                <input type = "date" name = "data" id = "bloco01">
            </label>

            <label for = "bloco01">nome<br>
                <input type = "text" name = "nome" id = "bloco01">
            </label>
            
        </div>   

        <div class = "b02">
            
            <label for = "bloco02">descrição<br>
                <input type="text" name = "descricao" id = "bloco02">
            </label>
    
        
            <label for = "bloco02">centro de custo<br>
                <input type = "number" name = "centro" id = "bloco02">
            </label>

            <label for = "bloco02">técnico<br>
                <input type = "text" name = "tecnico" id = "bloco02">
            </label>
        
        </div>

            <p>
                <button type="submit">Enviar</button>
                <button> <a href="http://localhost:8081/listagem">Lista de chamados</a></button>
            </p>
  
</div>



</form>